.title{
  color: red;
  font-size: x-large;
font-style: italic;
}
.img{
  font-size: 34px;
}
.card{
  box-shadow: 0px 3px 3px black;
  width: 400px;
  padding: 2px;
}
.paragraph{
  font-size: large;

}